/* GENERAL */

@font-face {
    font-family: "Titillium";
    src: url("assets/fonts/titillium-web/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: "Yauternet";
  src: url("assets/fonts/yauternet/Yauternet-Font.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing:border-box; 
    outline:none;
    margin: 0;
    padding:0;
}

ul {
    list-style:none;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color);
    padding: 0px;
    margin:0;
    font-size: 1.3rem;
    font-family: "Titillium", "sans-serif";
}


header {
    padding-left: 0;
    padding-right: 0;
}

section {
  width: 80%;
  background-color: var(--bg-color);
  margin: auto;
  padding: 0px;
}

div.banner + section {
    padding-top: 0;
}

:root {
    --font-size:1rem;
}

.light-mode {
    --navbar-color:#371563;
    --navbar-bg-color: #F0F0F0;  
}

.dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: #371563;  
}

.navbar__logo {
  color: #FFF;
  padding-bottom: 2%;
  font-family: "Yauternet";
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
}

#logo-home {
    padding-right: 40px;
    max-height: 165px;
    float: left;
}

i {
    color : #371563
}

h1 {
    font-size: 1.8rem;
    line-height: 1.5ex;
    text-align: center;
    color: #371563;
    padding-top: 90px;
    padding-right: 190px;
}

h2 {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.6rem;
    color:#371563;
    text-decoration: underline;
    padding-left: 15%;
    padding-bottom: 5%;
    width: 80%;
}

h4 {
    font-size: 1.7rem;
    color:#371563;
}

#logomobilizon{
    margin-left: 12%;
}
  
.main-content {
    padding-top: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: #FFF;
    margin-bottom: -10px;
}

.banner{
    height: 110px;
    border-bottom: #371563 solid;
    background-color: #FFF;
    background-image: url(assets/bannerdecoration.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 50px;
}

article {
    width: 80%;
    margin: 0 auto 5ex auto;
}

article.emphasize {
    text-align: center;
    border: solid #371563;
    box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.5);
}


p.wip {
    text-align: center;
    font-style: italic;
    margin: 50px;
    color: var(--dark-color);
    font-weight: bold;
}

#logo-mobile {
    display: none;
  }
  
#logo {
    float: none;
    display: block;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 20px;
    max-height: 180px;
}

#soutien_annecy {
   text-align: center;
}
  
#logo_annecy {
   vertical-align: middle;
   max-height: 60px;
}

.infocontact{
    color: #FFF;
}

.infocontact h2{
    color: #FFF;
}

.link-to-header{
    float: right;
}

#poster {
    padding: 1%;
    max-height: 300px;
    float: right;
}

.image1 {
    position: relative;
}

.image2 {
    position: relative;
    max-width: 100%;
}

#bannerassociation {
    width: 100%;
    height: auto;
}

#bannerservices {
    width: 100%;
    height: auto;
    min-height: 1425px;
}

#bannercontact {
    width: 100%;
    height: auto;
}

#bannercontact-mobile {
    width: 100%;
    height: auto;
    max-height: 450px;
}

#bannerapropos {
    width: 100%;
    height: auto;
}

#bannerapropos-tablette {
    width: 100%;
    height: auto;
}

#bannerapropos-mobile {
    width: 100%;
    height: auto;
    max-height: 1400px;
}

.text-over {

    color:#333333;
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
}

.text-over1 {

    color: #371563;
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translate(-50%,-50%);
}

.text-over2 {

    color: #FFF;
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
}

.text-over3 {

    color: #FFF;
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.services-board  {

    position:absolute;
    top:35%;
    width: 80%;

}
  

/* NAVBAR */

.navbar {  
    display:flex;
    align-items:center; 
    justify-content:space-between;   
    padding:10px;
    font-size:1.6rem;
    background:linear-gradient(90deg, #44af9bff,30%, #371563ff 70%);
    color:#FFF;
}

.navbar__links { 
    display:flex;   
}

.navbar__link > a { 
    color:#FFF;
    text-decoration:none;
    padding:0 20px;
}

.navbottom {  
    display:flex;
    align-items:center; 
    justify-content:space-between;   
    padding:10px;
    font-size:2rem;
    background:linear-gradient(90deg, #371563 40%, #44af9bff);
    color:#FFF;
   
}

.navbar__links2 { 
    display:flex;  
}

.navbar__link2 > a { 
    color:#FFF;
    text-decoration:none;
    padding:0 20px;
}

.navbar__link2 > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:#FFF;
    transition:width .4s;
}

.navbar__link2:hover > a::after {
    width:100%;
}

.burger {
    display:none;
}

.web_link:link {
    color:#340D69;
    text-decoration: none;
}
.web_link:visited {
    color:#670463;
}
.web_link:hover {
    text-decoration: underline;
}


/* SERVICES */

h5 {
    font-size: 1.4rem;
    text-align: center;
    color:#371563
}

h6 {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 10px;
    color:#371563
}

.subtitle {
    font-size: 1.3rem;
    text-align: center;
}

.picto {
    max-width: 95px;
    float: left;
    margin-bottom: 15px;
}

.card-body {
    padding: 1rem;
    position: relative;
    padding-bottom: 4rem;
    margin-bottom: 1rem;
    border:1px solid #D2CADD;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
}

.card-body2 {
    padding: 1rem;
    position: absolute;
    left: 25%;
    top: 30%;
    transform: translate(-50%,-50%);
    padding-bottom: 4rem;
    margin-bottom: 1rem;
    border:1px solid #D2CADD;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
    width: 30%;
}

.card-body3 {
    padding: 1rem;
    position: absolute;
    left: 75%;
    top: 30%;
    transform: translate(-50%,-50%);
    padding-bottom: 4rem;
    margin-bottom: 1rem;
    border:1px solid #D2CADD;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
    width: 30%;
}

.card-body4 {
    padding: 1rem;
    position: absolute;
    left: 25%;
    top: 70%;
    transform: translate(-50%,-50%);
    padding-bottom: 4rem;
    margin-bottom: 1rem;
    border:1px solid #D2CADD;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
    width: 30%;
}

.card-body5 {
    padding: 1rem;
    position: absolute;
    left: 75%;
    top: 70%;
    transform: translate(-50%,-50%);
    padding-bottom: 4rem;
    margin-bottom: 1rem;
    border:1px solid #D2CADD;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
    width: 30%;
}


.card-body .intro {
    min-height: 100px;
}

.card-body .action {
    position: absolute;
    bottom:1rem;
    left: 1rem;
    right: 1rem;
}

.service-button {
    padding: .25rem .5rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: .2rem;
    background: linear-gradient( to bottom, #723c86 5%, #371563 95%);
    display:block;
    font-weight: 400;
    transform: scale(1);
    color: #fff;
    outline: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.service-button:hover {
    background: linear-gradient( to bottom, #814497 5%, #471c80 95%);
}

.service-button2 {
    padding: .25rem .5rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: .2rem;
    background: linear-gradient( to bottom, #723c86 5%, #371563 95%);
    float: none;
    font-weight: 400;
    transform: scale(1);
    color: #fff;
    outline: none;
    width: 40%;
    text-align: center;
    text-decoration: none;
}

.service-button2:hover {
    background: linear-gradient( to bottom, #814497 5%, #471c80 95%);
}

.infocontact { 
display: block;
position: absolute;
left: 65%;
top: 30%;
}

.sticker {
    display: block;
    position: absolute;
    left: 10%;
    top: 20%;
}

.anchor {
    display: block;
    position: absolute;
    left: 94%;
    top: 89%;
}



/*  MEDIA QUERIES */


/* SMALL DEVICE */

@media screen and (max-width:767px) {

    body, header, section {
	padding-left: 0;
	padding-right: 0;
    }

    section {
        width: 100%;
    }

    section#apropos {
        padding-bottom: 9%;
    }
    
    .main-content {
      margin-bottom: -10px;
    }

    #logo-mobile {
	float: none;
	display: block;
	margin: auto;
	max-height: 150px;
	padding-bottom: 5px
    }

    #logo-home {
        display: none;
    }

    #logo {
      display: none;
    }

    #poster {
        padding: 1%;
        max-height: 180px;
        float: right;
    }

    .banner{
	display : none;
    }

    #bannerassociation-mobile {
        width: 100%;
        height: auto;
        max-height: 150px;
    }

    #bannerassociation {
        display: none;
    }  

    #bannerservices-mobile {
        width: 100%;
        height: auto;
        max-height: 1300px;
    }

    #bannerservices {
        display: none;
    }
    
    #bannerservices-tablette {
        display: none;
    }  

    h1 {
	display: none;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
    }

    h3 {
        display: block;
        text-align: center;
    }
    
    h4 {
        font-size: 1.4rem;
        color:#371563;
    }

    .text-over {
        font-size: 2.5rem;
    }

    .text-over1 {

        color: #371563;
        font-size: 2.7rem;
        position: absolute;
        left: 55%;
        top: 10%;
        transform: translate(-50%,-50%);
    }

    .text-over2 {

        color: #FFF;
        font-size: 2.5rem;
        position: absolute;
        left: 35%;
        top: 53%;
        transform: translate(-50%,-50%);
    }

    .services-board { 

        position: absolute;
        top: 20%;
        width: 80%;
    }

    .service-button2 {
        padding: .25rem .5rem;
        font-size: 1.1rem;
        line-height: 1.5;
        border-radius: .2rem;
        background: linear-gradient( to bottom, #723c86 5%, #371563 95%);
        float: none;
        font-weight: 400;
        transform: scale(1);
        color: #fff;
        outline: none;
        width: 40%;
        text-align: center;
        text-decoration: none;
    }

    .subtitle {
        font-size: 1.1rem;
        text-align: center;
    }

    #bannerapropos {
        display: none;
    }

    #bannerapropos-tablette {
        display: none;
    }

    .text-over3 {
        color: #FFF;
        font-size: 2.7rem;
        position: absolute;
        left: 50%;
        top: 6%;
        transform: translate(-50%,-50%);
    }

     .card-body2 {
        padding: 0.5rem;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%,-50%);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 90%;
    }
    
    .card-body3 {
        padding: 0.5rem;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 90%;
    }
    
    .card-body4 {
        padding: 0.5rem;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%,-50%);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 90%;
    }
    
    .card-body5 {
        padding: 0.5rem;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%,-50%);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 90%;
    }
    
    
    #bannercontact {
        display: none;
    }

    #stickercontact {
        max-height: 180px;
        display: block;
        margin: auto;
    }

    #logomobilizon {
        margin-left: 6%;
        max-height: 40px;
    }

    #logomastodon {
        max-height: 40px;
    }

    .infocontact {
        display: block;
        position: absolute;
        left: 50%;
        top: 10%;
    }
    
    .anchor {

        display: block;
        position: absolute;
        left: 10%;
        top: 10%;
    }
    
     

    .navbar__logo {
	   color: #FFF;
       font-size: 2.5rem;
       padding-bottom: 3%;
    }
    

    .navbar__links { 
	overflow:hidden;
	display:flex;
	flex-direction:column;
	width:0;
	height:calc(100vh - 65px);  
	position:absolute;
	top:65px;
	right:0;     
	background:#FFF;     
	transform: translateX(110%);
	transition: all .5s ease-in-out;
    }

    .show-nav .navbar__links { 
	
	width:100vw;    
	transform: translateX(0);
    } 

    .navbar__link {    
	transform: translateX(101%);
	transition: all .5s ease-in-out;
    }
    
    .show-nav .navbar__link  {        
	transform: translateX(0);    
    }   

    .navbar__link > a {
	display:block;
	padding:1rem;
	font-size:1.6rem;
	color: #371563;  
	transition: all .4s ease-in-out;
    }

    .navbar__link > a:hover {
	padding-left:2rem;
	letter-spacing:3px;
    }

    .navbar__links2 { 
	display:block; 
	margin: auto;
	padding-top: 20px; 
    }

    .navbottom {
	position : relative;
	height: auto;
    font-size: 1.5rem;
    }


    
    /* TOGGLE MENU */

    .burger {
	display:block;
	position:relative;
	padding:0;
	width:45px;
	height:45px;
	border:none;
	background:transparent;
	cursor:pointer;
    }

    .bar {
	display:block;    
	width:45px;
	height:4px;  
	border-radius:3px;
	background:#FFF; 
	transition: all .5s ease-in-out;   
    }

    .bar::before, .bar::after {
	content:"";
	width:45px;
	height:4px;
	position:absolute; 
	left:0;  
	background:#FFF; 
	border-radius:3px;    
	transition: all .5s ease-in-out;
    }

    .bar::before {
	transform:translateY(-12px)
    }

    .bar::after {
	transform:translateY(12px)
    }

    .show-nav .bar {
	width:0;
	background:transparent;    
    }

    .show-nav .bar::before {
	transform:rotate(45deg);
    }

    .show-nav .bar::after {
	transform:rotate(-45deg);
    }
    
    /* ANIMATION */

    .show-nav .first {      
	transition: all 1s ease-out;
    } 

    .show-nav .second {      
	transition: all 1.1s ease-out;
    } 

    .show-nav .third {      
	transition: all 1.2s ease-out;
    } 

    .show-nav .fourth {      
	transition: all 1.3s ease-out;
    } 

    .show-nav .fifth {      
	transition: all 1.4s ease-out;
    }

    .show-nav .sixth {      
	transition: all 1.4s ease-out;
    }

    .show-nav .seventh {      
	transition: all 1.4s ease-out;
    }

}



/*  MEDIUM DEVICE */

@media screen and (min-width:768px) {
    .navbar__link > a::after {
	display:block;
	content:"";
	width:0;
	height:1px;
	background:#FFF;
	transition:width .4s;
    }

    
    .navbar__link:hover > a::after {
	width:100%;
    }

    .logo-mobile {
        float: none;
        display: block;
        margin: auto;
        padding-bottom: 5px;
        max-height: 150px;
    }

    
    
      .grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin-left: 10%;
    }

}

@media screen and (min-width:500px) and (max-width:767px) {

    #poster {
        padding: 1%;
        max-height: 250px;
        float: right;
    }

    .text-over {
        font-size: 3rem;
    }

    .text-over1 {

        color: #371563;
        font-size: 3rem;
        position: absolute;
        left: 55%;
        top: 15%;
        transform: translate(-50%,-50%);
    }

    .text-over2 {
        font-size: 3rem;
    }

    .card-body2 {
        padding: 0.5rem;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%,-50%);
        padding-bottom: 5rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 90%;
    }
    
    .card-body3 {
        padding: 0.5rem;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        padding-bottom: 5rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 90%;
    }
    
    .card-body4 {
        padding: 0.5rem;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%,-50%);
        padding-bottom: 5rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 90%;
    }
    
    .card-body5 {
        padding: 0.5rem;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%,-50%);
        padding-bottom: 5rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 90%;
    }
}


@media screen and (min-width:768px) and (max-width:1023px) {

    .main-content {
        margin-bottom: -10px;
    }

    .navbar {  
	display:flex;
	align-items:center; 
	justify-content:space-between;   
	padding:10px;
    height: 70px;
	font-size:1.3rem;
    padding-top: 4%;
    }

    .navbar__logo {
        font-size: 2.5rem;
        padding-bottom: 3%;
    }

    .navbar__link > a { 
	color:#FFF;
	text-decoration:none;
	padding:0 10px;
    }

    .navbar__link2 > a { 
	color:#FFF;
	text-decoration:none;
	padding:0 10px;
    }

    
    body, header, section {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    
    section#apropos {
        padding-bottom: 9%;
    }

    .text-over1 {

        color: #371563;
        font-size: 4rem;
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translate(-50%,-50%);
    }

    .text-over2 {
        color: #FFF;
        font-size: 4rem;
        position: absolute;
        left: 50%;
        top: 51%;
        transform: translate(-50%,-50%);
    }

    .services-board {

        position: absolute;
        top: 25%;
        width: 80%;
    }

    #bannerassociation-mobile {
        display: none;
    } 
      
    #bannerservices-mobile {
        display: none;
    } 
    
    #bannerservices-tablette {
        width: 100%;
        height: auto;
        min-height: 1300px;
    } 
    
    #bannerservices {
        display: none;
    }  

    #bannerapropos {
       display: none;
    }

    #bannerapropos-mobile {
        display: none;
    }

    .card-body2 {
        padding: 0.5rem;
        position: absolute;
        left: 23%;
        top: 25%;
        transform: translate(-50%,-50%);
        padding-bottom: 3rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 40%;
    }
    
    .card-body3 {
        padding: 0.5rem;
        position: absolute;
        left: 78%;
        top: 25%;
        transform: translate(-50%,-50%);
        padding-bottom: 3rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 40%;
    }
    
    .card-body4 {
        padding: 0.5rem;
        position: absolute;
        left: 22%;
        top: 75%;
        transform: translate(-50%,-50%);
        padding-bottom: 3rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 40%;
    }
    
    .card-body5 {
        padding: 0.5rem;
        position: absolute;
        left: 78%;
        top: 75%;
        transform: translate(-50%,-50%);
        padding-bottom: 3rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 40%;
    }
    
    #bannercontact-mobile {
        display: none;
     }

    #stickercontact {
        max-height: 280px;
    }

    #logomobilizon {
        margin-left: 6%;
        max-height: 50px;
    }

    #logomastodon {
        max-height: 50px;
    }

    .infocontact {
        display: block;
        position: absolute;
        left: 65%;
        top: 10%;
    }
    
    .anchor {

        display: block;
        position: absolute;
        left: 93%;
        top: 85%;
    }

    .navbottom {
        display:flex;
        align-items:center; 
        justify-content:space-between;   
        font-size: 1.5rem;
    }
    
    .logo {
      display:none 
    }
    
    h1 {
      font-size: 1.8rem;
      line-height: 1.5ex;
      text-align: center;
      color: #371563;
      padding-top: 70px;
      padding-right: 190px;
    }

    h2 {
        font-size: 3rem;
        text-align: left;
        margin-left: 20%;
        margin-bottom: 0px;
    }
    
    h3 {
      display: none;
    }
    
    .grid {
      display: grid;
      grid-template-columns:1fr 1fr;
      grid-column-gap: 3rem;
      width: 80%;
      margin-left: 10%;
    }

}

@media screen and (min-width:1024px) and (max-width:1505px) {
    
    body {
        font-size: 1.6em;
    }
  
    section {
        padding-top: 0px;
        width: 100%;
        padding-bottom: 6%;
    }

    section#contact {
      padding-top: 0px;
      width: 100%;
      padding-bottom: 0%;
    }

  
    body, header, section {
      padding-left: 0;
      padding-right: 0;
    }

  .navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:10px;
  font-size:1.6rem;
  height: 70px;
  padding-top: 3%; 
  }

  .navbottom {
      display:flex;
      align-items:center; 
      justify-content:space-between;   
      padding:10px;
      font-size: 1.6rem;
  }
  


  .banner{
  height: 130px;
  border-bottom: #371563 solid;
  background-color: #FFF;
  background-image: url(assets/bannerdecoration.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 50px;
  }
  
  article {
  margin-top: 0;
  }

  #bannerassociation-mobile {
      display: none;
  } 
    
  #bannerservices-mobile {
      display: none;
  } 
  
  #bannerservices-tablette {
    display: none;
}    

  #bannerapropos-tablette {
      display: none;
  }

  #bannerapropos-mobile {
      display: none;
  }

  #bannercontact-mobile {
      display: none;
  }

  .grid {
      display: grid;
      grid-template-columns:1fr 1fr 1fr ;
      grid-column-gap: 3rem;
      width: 80%;
      margin-left: 10%;
    }
    
    #logo-mobile {
      display: none;
    }
    
    #logo {
        float: none;
        display: block;
        margin: auto;
        padding-top: 10px;
        margin-bottom: 2%;
        max-height: 180px;
    }
    
    h3 {
        display: none;
    }

    .text-over1 {

        color: #371563;
        font-size: 4rem;
        position: absolute;
        left: 50%;
        top: 23%;
        transform: translate(-50%,-50%);
    }

    .text-over2 {
        color: #FFF;
        font-size: 4rem;
        position: absolute;
        left: 50%;
        top: 51%;
        transform: translate(-50%,-50%);
    }


      .card-body2 {
        padding: 0.5rem;
        position: absolute;
        left: 23%;
        top: 20%;
        transform: translate(-50%,-50%);
        padding-bottom: 3.5rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 43%;
    }
    
    .card-body3 {
        padding: 0.5rem;
        position: absolute;
        left: 77%;
        top: 20%;
        transform: translate(-50%,-50%);
        padding-bottom: 3.5rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 43%;
    }
    
    .card-body4 {
        padding: 0.5rem;
        position: absolute;
        left: 23%;
        top: 80%;
        transform: translate(-50%,-50%);
        padding-bottom: 3.5rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 43%;
    }
    
    .card-body5 {
        padding: 0.5rem;
        position: absolute;
        left: 77%;
        top: 80%;
        transform: translate(-50%,-50%);
        padding-bottom: 3.5rem;
        margin-bottom: 1rem;
        border:1px solid #D2CADD;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,.25);
        width: 43%;
    }

    #bannercontact-mobile {
        display: none;
    }

    #stickercontact {
        max-height: 350px;
    }

    #logomobilizon {
        margin-left: 6%;
        max-height: 50px;
    }

    #logomastodon {
        max-height: 50px;
    }

    .infocontact {
        display: block;
        position: absolute;
        left: 65%;
        top: 15%;  
    }  

}

@media screen and (min-width: 1506px) {

    
      body {
          font-size: 1.6em;
      }
    
      section {
          padding-top: 0px;
          width: 100%;
          padding-bottom: 3%;
      }

      section#contact {
        padding-top: 0px;
        width: 100%;
        padding-bottom: 0%;
    }

    
      body, header, section {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar {  
	display:flex;
	align-items:center; 
	justify-content:space-between;   
	padding:10px;
	font-size:1.6rem;
    height: 70px;
    padding-top: 3%; 
    }

    .navbottom {
        display:flex;
        align-items:center; 
        justify-content:space-between;   
        padding:10px;
        font-size: 1.6rem;
    }
    


    .banner{
	height: 130px;
	border-bottom: #371563 solid;
	background-color: #FFF;
	background-image: url(assets/bannerdecoration.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-bottom: 50px;
    }
    
    article {
	margin-top: 0;
    }

    #bannerassociation-mobile {
        display: none;
    } 
      
    #bannerservices-mobile {
        display: none;
    }  
    
    #bannerservices-tablette {
        display: none;
    }    

    #bannerapropos-tablette {
        display: none;
    }

     #bannerapropos-mobile {
        display: none;
    }

     #bannercontact-mobile {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        grid-column-gap: 3rem;
        width: 80%;
        margin-left: 10%;
    }
      
    #logo-mobile {
       display: none;
    }
      
    #logo {
        float: none;
        display: block;
        margin: auto;
        padding-top: 10px;
        margin-bottom: 2%;
        max-height: 180px;
    }
      
    h3 {
        display: none;
    }
      
}
